/* fonts */
body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.mobile-menu {
	display: none;
}
/* slider */
#slider {
    text-align: center;
}
/* h2 {
    margin:40px 0 25px;
    border-bottom:1px solid #bbb;
    padding:0 0 10px;
}*/
p {
    margin:20px 0 16px;
} 
label:hover,
a:hover {
    color:#ddd!important
}
* {-moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

label,
#active,
img {
    -moz-user-select:none;
    -webkit-user-select:none
}

input{display:none}
#slide1:checked ~ #slides .inner{margin-left:0}
#slide2:checked ~ #slides .inner{margin-left:-100%}
#slide3:checked ~ #slides .inner{margin-left:-200%}
#slide4:checked ~ #slides .inner{margin-left:-300%}
#slide5:checked ~ #slides .inner{margin-left:-400%}
#container{width:100%;overflow:hidden}
article img{
	width:100%;
	height: 780px;
}
#slides .inner{
	width:500%;
}
#slides article{width:20%;float:left}
#commands{
	width: 270px;
	height: 50px;
	position: absolute;
	top: 507px;
	left: 77px;
}
#commands label{display:none;width:80px;height:80px;opacity:0.5}
#commands label:hover{opacity:0.8}
#active{
	z-index: 5;
	text-align: center;
	position: absolute;
	bottom: 323px;
	left: 200px;
}
#active label{
	border-radius:5px;
	display:inline-block;
	width:10px;
	height:10px;
	background:#bbb;
}
#active label:hover{
	background:#333;
	border-color:#777!important;
}
#slide1:checked ~ #commands label:nth-child(2),
#slide2:checked ~ #commands label:nth-child(3),
#slide3:checked ~ #commands label:nth-child(4),
#slide4:checked ~ #commands label:nth-child(5),
#slide5:checked ~ #commands label:nth-child(1){
	background:url('../img/arrow.png') no-repeat;
	display:block;
	position: absolute;
	transform: rotate(180deg);
	top: -79px;
	left: 177px;
}
#slide1:checked ~ #commands label:nth-child(5),
#slide2:checked ~ #commands label:nth-child(1),
#slide3:checked ~ #commands label:nth-child(2),
#slide4:checked ~ #commands label:nth-child(3),
#slide5:checked ~ #commands label:nth-child(4){
	background:url('../img/arrow.png') no-repeat;
	display: block;
	position: absolute;
	top: -42px;
	left: 56px;
}
#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5){
	background:#000;opacity:0.6;
	border-color:#fff!important;
	border:2px solid #fff;
}
#slides{
	position:relative;
	border:1px solid #ddd;
	margin:45px 0 0;
	border-radius:2px 2px 2px 2px;
}
#slides .inner{
	transition:all 800ms cubic-bezier(0.770,0.000,0.175,1.000);
	transition-timing-function:cubic-bezier(0.770,0.000,0.175,1.000)}
#slider{
	transition:all 0.5s ease-out;
}
#commands label{
	-webkit-transform:translateZ(0);
	-webkit-transition:opacity 0.2s ease-out;
	-moz-transition:opacity 0.2s ease-out;
	-o-transition:opacity 0.2s ease-out;
	transition:opacity 0.2s ease-out;
}
#slide1:checked ~ #slides article:nth-child(1) .caption,
#slide2:checked ~ #slides article:nth-child(2) .caption,
#slide3:checked ~ #slides article:nth-child(3) .caption,
#slide4:checked ~ #slides article:nth-child(4) .caption,
#slide5:checked ~ #slides article:nth-child(5) .caption{
	opacity:1;-webkit-transition:all 1s ease-out 0.6s;
	-moz-transition:all 1s ease-out 0.6s;
	-o-transition:all 1s ease-out 0.6s;
	transition:all 1s ease-out 0.6s;
}
#commands,
#commands label,
#slides,
#active,
#active label{
	-webkit-transform:translateZ(0);
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
}
/* slider */
/* header */
.header {
    padding: 20px 0;
    height: 56px;
}
.header-left {
    display: inline-block;
}
.header-logo {
    align-self: center;
    margin-right: 30px;
    font-size: 30px;
    color: #040404;
}
.header-title {
    font-size: 13px;
    color: #000;
	text-transform: uppercase;
	align-self: center;
}
.header-phone {
    font-size: 35px;
    color: #000;
    margin-right: 30px;
}
.orange-btn {
    color: #fff;
    font-size: 13px;
    background: linear-gradient(to top, rgba(255,80,89,1) 0%, rgba(253,112,72,1) 100%);
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    cursor: pointer;
}
/* header */
/* navigation */
.menu {
	display: flex;
	justify-content: space-between;
	list-style: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.3);
	top: 48px;
	width: 100vw;
	padding: 6px;
	left: -71px;
	z-index: 1;
}
.menu__item {
    margin: 0 auto;
}
.menu__item > a {
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    opacity: 1;
}
.menu__item > a:hover {
    font-weight: 800;
    text-decoration: none;
    font-size: 13px;
}
.menu__item > a:active{
    font-weight: 800;

}
.bordered{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    padding-left: 60px;
    padding-right: 60px;
}
/* navigation */
/* products */
.product {
    position: absolute;
	top: 65px;
	left: 13%;
}
.product__heading {
    background-color: #fff;
    opacity: 0.8;
    transform: skew(-10deg);
	padding: 0 10px;
	margin-left: 30px;
}
.product__heading__text {
    color: #000;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 800;
    transform: skew(10deg);
}
.product__descr {
	transform: skew(-10deg);
    padding: 0 10px;
    
}
.product__description {
	background-color: #fff;
	opacity: 0.8;
	font-size: 36px;
    color: #000;
	font-weight: 800;
	padding: 0 60px;
	margin-right: 10px;
}
.product__description__text {
	font-size: 36px;
	color: #000;
	transform: skew(10deg);
	position: relative;
}
.product__description__text::after{
	content: "";
	display: block;
	border-bottom: 3px solid #000;
	position: absolute;
	top: 57px;
	left: -16px;
	width: 110%;
}
.product__price {
	background: linear-gradient(to right, rgba(34,212,34,1) 0%, rgba(3,126,3,1) 100%);
	padding: 0px 50px;
	height: 65px;
	align-self: center;
}
.product__price__text {
	font-size: 18px;
	color: #fff;
	transform: skew(10deg);
}
.product__price__text-big {
	font-size: 45px;
	line-height: 20px;
}
.product__text {
	color: #fff;
	font-size: 19px;
	font-weight: bold;
	text-align: left;
}
.product > .orange-btn {
	font-size: 22px;
	text-transform: uppercase;
	width: 200px;
	height: 48px;
	justify-content: flex-start;
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.cover {
	width: 50vw;
	height: 100vh;
	background-color: rgba(26, 25, 25, 0.5);
	position: absolute;
	top: 0px;
	left: 0px;
	clip-path: polygon(0 0, 100% 0, 47% 100%, 0% 100%);
}
/* products */
/* advanteg */
.advantage {
	margin-top: -290px;
	padding-top: 15px;
	background: rgba(255, 255, 255, 0.8);
	position: relative;
	text-align: center;
}
.advantage__title {
	font-size: 20px;
	font-weight: 800;
	padding-top: 10px;
}
.advantage__text {
	font-size: 15px;
}
/* advanteg */
@media only screen and (max-width:1199px){
	.menu {
		left: -32px;
	}
	#commands {
		top: 476px;
	}
	#active {
		bottom: 350px;
	}
}
@media only screen and (max-width:992px){
	#commands {
		top: 476px;
	}
	#active{
		bottom: 353px;
	}
}
@media only screen and (max-width:625px){
	#commands{
		top: 530px;
	}
	#active{
		bottom: 300px;
	}
}
@media only screen and (max-width:777px){
	.menu {
		display: none;
	}
	.mobile-menu {
		display: block;
		position: relative;
		top: 46px;
		padding: 12px;
		z-index: 1;
	}	
}
@media only screen and (max-width:500px){
	.product {
		left: 7%;
	}
	.product__heading {
		padding: 0px 9px;
		margin-left: -20px;
		transform: none;
	}
	.product__heading__text {
		font-size: 50px;
		transform: none;
	}
	.product__descr{
		transform: none;
	}
	.product__description__text {
		transform: none;
		font-size: 28px;
	}
	.product__description__text::after {
		top: 44px;
		left: -33px;
	}
	.product__price {
		padding: 0;
	}
	.product__price__text {
		transform: none;
	}
	#commands{
		top: 470px;
		left: 6px;
	}
	#active{
		left: 130px;
		bottom: 360px;
	}
}
